<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Doodle</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">  <!-- load fontawesome -->

    <style>
        body { padding-top: 80px; }
    </style>
</head>
<body>
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">

            <div class="jumbotron text-center">
                <h1><%= __('New vote') %></h1>
                <br/>

                <form action="#" method="post">

                    <table class="table">
                        <thead>
                            <tr>
                                <th><%= __('Schedule') %></th>
                                <th><%= __('Vote') %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var key in schedules) { %>
                                <tr>
                                    <input type="hidden" value="<%= schedules[key].id%>"  name="schedules[<%= key %>][id]">
                                    <th scope="col"><%= schedules[key].begin_date %> <%= __('To') %> <br/> <%= schedules[key].end_date %></th>
                                    <th>
                                        <select name="schedules[<%= key %>][vote]" class="form-control">
                                            <option value="-1"><%= __('Unavailable') %></option>
                                            <option value="0"><%= __('Do not know') %></option>
                                            <option value="1"><%= __('Available') %></option>
                                        </select>
                                    </th>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                    
                    <button type="submit" class="btn btn-default"><%= __('Submit') %></button>
                </form>

            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</body>
</html>