<!-- views/pages/home.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>

<!-- Header -->
<% include ../partials/header %>


<div class="container-fluid">
    <div class="starter-template" style="padding-top: 60px;">
        <main class="col-md-12" style="margin-bottom: 60px;">

            <section class="col-md-7">
                <div class="section-title">
                    <h2><i class="fa fa-calendar"></i> <%= __('My doodles') %></h2>

                    <button class="icon-notification" id="toggleNotifications" type="button"><%= __('Notifications'); %> 

                    <% if (typeof notifications != 'undefined' && notifications.length !== 0) { %>
                        <% var nbNotificationUnread = 0; %>
                        <% for (var key in notifications) { %>
                                <% if(notifications[key].is_read == false) { %>
                                    <% nbNotificationUnread++; %>
                                <% } %>
                        <% } %>

                        <% if (nbNotificationUnread > 0) { %>
                            <span class="badge"><%= nbNotificationUnread %></span>
                        <% } %>
                    <% } %>
                    </button>
                    <div class="notifications-content hidden">
                        <% for (var key in notifications) { %>
                            <% var notification = notifications[key]; %>
                            <article class="article-doodle">
                                <section class="article-header">
                                    <%= notification.created %>
                                </section>
                                <section class="article-content notification-data" id="<%= notification.notification_id %>">
                                    <strong><%= notification.user.first_name %> <%= notification.user.last_name %></strong> <%= __('updated his votes on ') %> <strong><%= notification.doodle.name %></strong>
                                </section>
                            </article>
                        <% } %>
                    </div>
                </div>

                <% if (typeof doodles == 'undefined' || doodles.length === 0) { %>
                    <div class="infos">
                        <p><%= __('You currently have no doodle') %></p>
                    </div>
                <% } else { %>
                    <% for (var key in doodles) { %>

                        <article class="article-doodle">

                            <section class="article-header">
                                <a href='/doodle/<%= doodles[key].id %>'><h4><%= doodles[key].name %></h4></a>
                                <% if (doodles[key].user_statut == 'admin') { %>
                                    <a class="close-icon" href='/doodle/delete/<%= doodles[key].id %>'><i class="fa fa-times"></i></a>
                                <% } %>
                            </section>

                            <section class="article-content">
                                <p><%= doodles[key].description %></p>
                                <a href="#" class="button-article-footer"><i class="align-right fa fa-chevron-right"></i></a>
                            </section>

                            <section id="article-footer" class="article-footer hidden">
                                <ul class="list-group">
                                    <% if (doodles[key].user_configuration.notification) { %>
                                        <li class="list-group-item"><%= __('Notifications') %><input type="checkbox" checked="checked" data="<%= doodles[key].id %>" data-type="notification"></li>
                                    <% } else { %>
                                        <li class="list-group-item"><%= __('Notifications') %><input type="checkbox" data="<%= doodles[key].id %>" data-type="notification"></li>
                                    <% } %>
                                    
                                    <% if (doodles[key].user_configuration.notification_by_email) { %>
                                        <li class="list-group-item"><%= __('Notifications by email') %><input type="checkbox" checked="checked" data="<%= doodles[key].id %>" data-type="notification_by_email"></li>
                                    <% } else { %>
                                        <li class="list-group-item"><%= __('Notifications by email') %><input type="checkbox" data="<%= doodles[key].id %>" data-type="notification_by_email"></li>
                                    <% } %>
                                </ul>
                            </section>

                        </article>

                    <% } %>
                <% } %>

                <div class="doodle-buttons text-right">
                    <button data-toggle="modal" data-target="#myModal"><%= __('Create new doodle') %></button>
                </div>

                <!-- Modal create doodle-->                    
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="popup-content">
                        <a class="close-icon btn-close-modal" data-dismiss="modal" href="#"><i class='fa fa-times'></i></a>
                        <div class="popup-title">
                            <h3><%= __('New Doodle') %></h3>
                        </div>
                        <div class="popup-form">

                            <div class="form-group">
                                <input id="doodle-name" type="text" name="name" placeholder="<%= __('Name') %>" class="form-control">
                            </div>

                            <div class="form-group">
                                <textarea id="doodle-description" type="textarea" name="description" placeholder="<%= __('Description') %>" class="form-control"></textarea>
                            </div>

                            <div class="text-center">
                                <button id="btn-new-doodle" class="btn" style="margin-top: 10px;"><%= __('Save Doodle') %></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End modal -->

                <!-- Modal show notifications -->                    
                <div class="modal fade show-notifications" id="modal-notifications" tabindex="-1" role="dialog" aria-labelledby="modal-notificationsLabel" aria-hidden="true">
                    <div class="popup-content">
                        <a class="close-icon btn-close-modal" data-dismiss="modal" href="#" id="close-modal-notifications"><i class='fa fa-times'></i></a>
                    
                        <% for (var key in notifications) { %>
                            <% var notification = notifications[key]; %>
                            <article class="article-doodle">
                                <section class="article-header">
                                    <%= notification.created %>
                                </section>
                                <section class="article-content notification" id="<%= notification.notification_id %>">
                                    <strong><%= notification.user.first_name %> <%= notification.user.last_name %></strong> <%= __('updated his votes on ') %> <strong><%= notification.doodle.name %></strong>
                                </section>
                            </article>
                        <% } %>

                    </div>
                </div>
                <!-- End modal -->

            </section>

            <section class="col-md-5">

                <div class="section-title">
                    <h2><i class="fa fa-question"></i> <%= __('Participation requests') %></h2>
                </div>

                <% if (typeof participation_requests == 'undefined' || participation_requests.length === 0) { %>
                    <div class="infos">
                        <p><%= __('You currently have no participation requests') %></p>
                    </div>
                <% } else { %>
                    <% for (var key in participation_requests) { %>
                        <article class="article-doodle">

                            <section class="article-header">
                                <a href='/doodle/<%= participation_requests[key].id %>/participate'><h4><%= participation_requests[key].name %></h4></a>
                                <a class="close-icon" href='/doodle/<%= participation_requests[key].id %>/decline'><i class="fa fa-times"></i></a>
                            </section>

                            <section class="article-content">
                                <p>
                                    <%= participation_requests[key].description %>
                                </p>
                            </section>
                        </article>
                    
                    <% } %>
                <% } %>

            </section>
        </main>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/home.js"></script>
<script type="text/javascript" src="/js/index.js"></script>

<script type="text/javascript">
jQuery(function($) {

    $(document).on('click', '.button-article-footer', function (e) {
        e.preventDefault();


        $(this).children().toggleClass('fa-chevron-right');
        $(this).children().toggleClass('fa-chevron-down');

        $(this).parent().next().toggleClass('hidden');
    });

    $(document).on('click', 'input:checkbox', function (e) {

        var configuration = {
            doodle_id: $(this).attr('data'),
            value: $(this).prop('checked'),
            notification_type: $(this).attr('data-type')
        };

        $.ajax({
            url: '/update-user-configuration',
            type: 'PUT',
            data: { configuration : configuration },
            dataType: 'text',
            success: function (res, statut) {
                console.log("user configuration updated");
            },
            error: function (res, statut, err) {
                console.log(res);
                console.log(statut);
                console.log(err);
            },
            complete: function (res, statut) {
            }
        });
    });

    $(document).on('click', '#btn-new-doodle', function (e) {
        e.preventDefault();

        $('#myModal').modal('hide');

        console.log($('#doodle-name').val());
        console.log($('#doodle-description').val());

        var _doodle = {
            doodle_name: $('#doodle-name').val(),
            doodle_description: $('#doodle-description').val()
        };

        $.ajax({
            url: '/new-doodle',
            type: 'POST',
            data: { doodle : _doodle },
            dataType: 'text',
            success: function (res, statut) {
                console.log("doodle created");
            },
            error: function (res, statut, err) {
                console.log(res);
                console.log(statut);
                console.log(err);
            },
            complete: function (res, statut) {
                window.location.reload();
            }
        });

    });

    $(document).on('click', '#toggleNotifications', function (e) {

        if(!$('.notifications-content').hasClass('hidden')) {
            
            var notification_data = $(".notification-data");
            var notification_ids = [];

            for (var i = 0; i < notification_data.length; i++) {
                notification_ids.push(notification_data[i].id);
            }

            $.ajax({
                url: '/update-notifications',
                type: 'PUT',
                data: { notifications : notification_ids },
                dataType: 'text',
                success: function (res, statut) {
                    console.log("notifications updated");
                },
                error: function (res, statut, err) {
                    console.log(res);
                    console.log(statut);
                    console.log(err);
                },
                complete: function (res, statut) {
                    window.location.reload();
                }
            });

        }

        $('.notifications-content').toggleClass('hidden');
    });

});
</script>

<footer class="footer" style="width: 100%;">
    <% include ../partials/footer %>
</footer>

</body>


</html>