<!doctype html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body class="container">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-offset-4">

			<div class="jumbotron text-center">
				<h1><%= __('Register') %></h1>
				<br/>

				<!-- Show any messages that comes back with authentication -->
				<% if (message.length > 0) { %>
					<div class="alert alert-danger"><%= message %></div>
				<% } %>

				<!-- LOGIN FORM -->
				<form action="#" method="post">
					<div class="form-group">
						<input type="mail" name="email" placeholder="<%= __('email') %>" class="form-control">
					</div>
					<div class="form-group">
						<input type="text" name="last_name" placeholder="<%= __('last name') %>" class="form-control">
					</div>
					<div class="form-group">
						<input type="text" name="first_name" placeholder="<%= __('first name') %>" class="form-control">
					</div>
					<div class="form-group">
						<input type="password" name="password" placeholder="<%= __('password') %>" class="form-control">
					</div>

					<button type="submit" class="btn btn-primary"><%= __('Submit') %></button>
				</form>

			</div>
		</div>
	</div>

	<footer class="footer" style="width: inherit;">
		<% include ../partials/footer %>
	</footer>
</body>
</html>