<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Doodle</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> <!-- load bootstrap css -->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">  <!-- load fontawesome -->

    <link rel="stylesheet" href="/css/style.css">  

    <style>
        body { padding-top: 80px; }
    </style>
</head>
<body>
    <div class="container">

        <!-- NAVIGATION -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/profile">Doodle</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <% if ( user_statut != 'unregistred' ) { %>
                            <% if ( user_statut == 'admin' ) { %>
                                <li><a href='<%= doodle.id %>/add-user'><%= __('Add user') %></a></li>
                                <li><a href='<%= doodle.id %>/add-schedule'><%= __('Add schedule') %></a></li>
                            <% } %>
                            <li><a href='<%= doodle.id %>/add-vote'><%= __('Add vote') %></a></li>
                        <% } else { %>
                            <li><a href='<%= doodle.id %>/add-public-user'><%= __('Add temporary user') %></a></li>
                        <% } %>
                        <% if ( user_statut == 'admin' ) { %>
                            <li><a href='<%= doodle.id %>/remove-user'><%= __('Remove user') %></a></li>
                            <li><a href='<%= doodle.id %>/delete-schedule'><%= __('Remove schedule') %></a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>

        <% if (message.length > 0) { %>
            <div class="col-md-6 col-md-offset-3 alert alert-info" role="alert">
                <%= __('' + message + ''); %>
            </div>
        <% } %>

        <!-- DOODLE DATA -->
        <% if (doodle) { %>
            <div class="col-md-12 jumbotron table-responsive horiz-scroll">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th></th>
                            <% for (var key in doodle.schedules) { %>
                                <% if ( doodle.schedules[key].begin_date.toDateString() === doodle.schedules[key].end_date.toDateString() ) { %>
                                        <th colspan=2 class="col-md-2" scope="col"><%= doodle.schedules[key].begin_date.toDateString() %> </th>
                                <% } else { %>
                                        <th class="col-md-1" scope="col"><%= doodle.schedules[key].begin_date.toDateString() %></th>
                                        <th class="col-md-1" scope="col"><%= doodle.schedules[key].end_date.toDateString() %></th>
                                <% } %>
                            <% } %>
                        </tr>
                        <tr>
                            <th></th>
                            <% for (var key in doodle.schedules) { %>
                                    <th class="col-md-2" scope="col"><%= doodle.schedules[key].begin_date.toTimeString() %> </th>
                                    <th class="col-md-2" scope="col"><%= doodle.schedules[key].end_date.toTimeString() %> </th> 
                            <% } %>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var key in doodle.users) { %>
                            <tr>
                                <td class="vert-align" scope="row"><%= doodle.users[key].first_name %> <%= doodle.users[key].last_name %></td>
                                <% for ( var key2 in doodle.users[key].votes ) { %>
                                    <% if ( doodle.users[key].votes[key2].vote == -1 ) { %>
                                        <td colspan=2 class="smal"><div class="alert alert-danger vert-align"><span class="fa fa-frown-o"></span> <%= __('Not available') %></div></td>
                                    <% } %>
                                    <% if ( doodle.users[key].votes[key2].vote == 0 ) { %>
                                        <td colspan=2 class="smal"><div class="alert alert-warning vert-align"><span class="fa fa-meh-o"></span> <%= __('Do not know') %></div></td>
                                    <% } %>
                                    <% if ( doodle.users[key].votes[key2].vote == 1 ) { %>
                                        <td colspan=2 class="smal"><div class="alert alert-success vert-align"><span class="fa fa-smile-o"></span> <%= __('Available') %></div></td>
                                    <% } %>
                                <% } %>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        <% } %>

        <!-- PARTICIPATION REQUESTS -->
        <% if ( typeof doodle.participation_requests != 'undefined' && doodle.participation_requests.length > 0 ) { %>
            <div class="col-md-8">
                <div class="alert alert-info">
                    <ul>
                    <% for ( var key in doodle.participation_requests ) { %>
                        <li>
                            <%= doodle.participation_requests[key].first_name + ' ' + doodle.participation_requests[key].last_name + ' has been invited to participate' %>
                        </li>
                    <% } %>
                    </ul>
                </div>
            </div>
        <% } %>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>