<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Doodle</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
        .footer { position: absolute; bottom: 0; height: 60px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-money"></span> Doodle</h1>

        <!-- ALERT MESSAGE -->
        <% if (message && message.length > 0) { %>
            <div class="col-sm-6 col-sm-offset-3 alert alert-info" role="alert">
                <%= message %>
            </div>
        <% } %>

        <p><%= __('Login or Register with') %>:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> <%= __('Login') %></a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> <%= __('Signup')%></a><br><br>
        <a href="/new-public-doodle" class="btn btn-default"><span class="fa fa-user"></span> <%= __('Create a public doodle') %></a>
    </div>

</div>

<div class="container">
    <footer class="footer">
        <% include ./footer %>
    </footer>
</div>

</body>
</html>