<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Doodle</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <!-- NOTIFICATION MESSAGE -->
        <% if (notifications && notifications.length > 0) { %>
            <div class="col-md-6" id="notifications">
                <% var notifications_not_read = 0; %> 
                <% for ( var key in notifications ) { %>
                    <% if ( notifications[key].is_read === false ) { %>
                        <% notifications_not_read++; %>
                    <% } %>
                <% } %>

                <!-- Different icon according if there is a notification to read or not -->
                <% if (notifications_not_read > 0) { %>
                    <a href="#" id="notifications-button"><span class="fa fa-envelope fa-2x"></span><span class="badge"><%= notifications_not_read %></span></a><br/>
                <% } else { %>
                    <a href="#" id="notifications-button"><span class="fa fa-envelope-o fa-2x"></span></a><br/>
                <% } %>

                <!-- notifications -->
                <div class="well hidden notifications-content" id="notifications-content">
                <% for (var key in notifications ) { %>
                    <% if (notifications[key].is_read === false) { %>
                        <span class="badge">New</span><br/>
                    <% } %>

                    <%= notifications[key].notification_id %><br/>
                    <%= notifications[key].user.first_name + ' ' + notifications[key].user.last_name %>
                    <%= __('has modify his/her vote about the following schedule : '); %>
                    <%= notifications[key].schedule.begin_date + ' to ' + notifications[key].schedule.end_date %>
                    <%= __('on the doodle '); %>
                    <%= notifications[key].doodle.name; %>
                    <hr/> 
                <% } %>
                </div>
            </div>
        <% } %>
    </div>
    <div class="row">
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> <%= __('Profile Page') %></h1>
            <a href="/logout" class="btn btn-default btn-sm"><%= __('Logout') %></a>
        </div>
    </div>

    <div class="row">
        <!-- ALERT MESSAGE -->
        <% if (message && message.length > 0) { %>
            <div class="col-md-6 col-md-offset-3 alert alert-info" role="alert">
                <%= __('' + message + '') %>
            </div>
        <% } %>

        <div class="col-md-6">
            <!-- DOODLES INFORMATIONS -->
            <div class="well">
                <h3><span class="fa fa-archive"></span> <%= __('My doodles') %></h3>
                    <% if (doodles) { %>
                        <ul>
                            <% for(var key in doodles) { %>
                                <li>
                                    <strong><%= doodles[key].id %></strong><br>
                                    <%= doodles[key].name %><br>
                                    <%= doodles[key].description %><br>
                                    <a href='/doodle/<%= doodles[key].id %>'><%= __('Access doodle') %></a><br>
                                    <% if (doodles[key].user_statut == 'admin') { %>
                                        <a href='/doodle/delete/<%= doodles[key].id %>'><%= __('Remove doodle') %></a>
                                    <% } %>
                                </li>
                                <br>
                            <% } %>
                        </ul>
                    <% } %>
                <br>
                <a href="/new-doodle" class="btn btn-default btn-sm"><%= __('Create doodle') %></a>
            </div>

            <!-- PARTICIPATION REQUESTS -->
            <div class="well">
                <h3><span class="fa fa-question"></span> <%= __('Participation requests') %></h3>
                <% if ( participation_requests != null && participation_requests.length > 0 ) { %>
                    <ul>
                        <% for (var key in participation_requests ) { %>
                            <li>
                                <strong><%= participation_requests[key].name %></strong><br/>
                                <%= participation_requests[key].description %><br/>

                                <a href='/doodle/<%= participation_requests[key].id %>/participate'><%= __('Participate') %></a><br/>


                                <a href='/doodle/<%= participation_requests[key].id %>/decline'><%= __('Decline') %></a>
                            </li>
                        <% } %>
                    </ul>
                <% } else { %>
                    <p><%= __('You have no request to participate to a doodle') %></p>
                <% } %>
            </div>
        </div>

        <!-- USER INFORMATIONS -->
        <div class="col-md-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> <% __('Informations') %></h3>

                    <% if (user) { %>
                        <p>
                            <% for (var key in user ) { %>
                                <% if (typeof user[key] != 'function' ) { %>
                                    <strong><%= key %></strong>: <%= user[key] %><br>
                                <% } %>
                            <% } %>
                        </p>
                    <% } %>
                    <a href="/configuration" class="btn btn-default btn-sm"><%= __('Configuration') %></a>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
<script type="text/javascript" src="/js/script.js"></script>

<script>
  var myVar = <%- JSON.stringify(notifications) %>;
  console.log(myVar);
</script>
</body>
</html>